.fullscreen-enabled  {
    background: white;
    overflow-y: auto;
}

.fullscreen-enabled::-webkit-scrollbar {
    width: 4px;
}

.fullscreen-enabled::-webkit-scrollbar-track{
    width: 6px;
}

.fullscreen-enabled::-webkit-scrollbar-thumb{
    background: gray;
    borderRadius: 24px;
}